.App {
  width: 100%;
  .navbar {
    background-color: #2f364b;
    display: flex;
    justify-content: space-around;
    padding-block: 1rem;
    width: 100%;

    .logo {
      width: min-content;
      img {
        width: 15rem;
      }
    }
    .navigation {
      color: white;
      ul {
        padding: 0;
        display: flex;
        list-style: none;

        a {
          text-decoration: none;
          color: inherit;
        }

        li {
          margin-inline: 1rem;
        }
      }
    }
    button {
      width: 8%;
      border: none;
      font-weight: 700;
      background-color: white;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .hero {
    display: flex;
    justify-content: space-evenly;
    background-color: #2f364b;
    border-bottom-right-radius: 50% 40%;
    padding-inline: 6rem;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #2f364b;
      transform: skewY(-11deg);
    }

    .heroContent {
      width: 50%;
      padding-block: 5rem;
      h1 {
        width: 50%;
        color: white;
      }
      p {
        width: 50%;
        color: white;
        line-height: 2rem;
      }

      .heroContext {
        display: flex;
        margin-block: 3rem;

        .downloads {
          display: flex;

          margin-inline: 2rem;
          .download {
            p {
              width: fit-content;
              margin: 0 1rem;
              line-height: 1.3rem;
            }
          }
        }

        button {
          border: none;
          box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
          background-color: #00bac7;
          display: flex;
          height: fit-content;
          align-items: center;
          padding: 1rem 2rem;
          color: white;
          border-radius: 100px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          -o-border-radius: 100px;
        }
      }

      .techText {
        display: flex;
        align-items: center;
      }

      .techStack {
        p {
          color: rgba(255, 255, 255, 0.4);
        }
        img {
          width: 5%;
          margin-inline: 1%;
        }
      }
    }
    .book {
      img {
        width: 32rem;
      }
    }
  }

  .target {
    margin-block: 10rem;
    .targetText {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-inline: 3rem;

      p {
        width: 35%;
        text-align: justify;
      }
    }
    .targetImage {
      display: flex;
      justify-content: space-evenly;
      margin-inline: 2rem;
      margin-block: 3rem;

      .imageContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 80%;
        }

        h5 {
          text-align: center;
        }
        p {
          text-align: center;
          width: 75%;
          margin: 0;
        }
      }
    }
  }
  .targetGreen {
    display: flex;
    justify-content: space-evenly;

    padding-block: 5rem;
    background-color: #00bac7;
    color: white;

    .writer {
      h2 {
        width: 61%;
      }

      .writerData {
        display: flex;
        align-items: center;
        .writerPhoto {
          position: relative;
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 50%;
          margin-right: 1rem;
          img {
            width: 100%;
            height: auto;
          }
        }
        .writerName {
          h5 {
            font-weight: 500;
            font-size: 18px;
            margin: 0;
          }
          p {
            margin: 0;
            font-size: 14px;
          }
        }
      }
    }
  }
  .benefit {
    padding-block: 5rem;
    padding-inline: 5rem;
    background-color: #edfcfd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .bookBenefit {
      width: 50%;

      h5 {
        font-size: 32px;
        font-weight: 500;
        margin: 0;
      }

      p {
        font-size: 18px;
      }

      ul {
        list-style: none;
        padding-inline-start: 0;

        li {
          margin-block: 1rem;
        }
      }
    }
    .bookSummary {
      img {
        width: 50%;
        border-radius: 15px;
        transform: rotate(9.4deg);
        filter: drop-shadow(0px 15px 30px rgba(2, 40, 43, 0.33));
        position: relative;
        top: 60px;
        left: 140px;
      }
      .bookSum {
        border-radius: 15px;
        color: white;
        display: flex;
        justify-content: space-evenly;
        background-color: #00bac7;
        box-shadow: 0px 30px 60px rgba(0, 186, 199, 0.4);
        position: relative;
        padding-block: 1rem;

        h1 {
          margin: 0;
        }
        p {
          margin: 0;
        }
      }
    }
  }
  .socmed {
    padding-block: 5rem;
    padding-inline: 10rem;
    background-color: #edfcfd;
    display: flex;
    img {
      width: 30rem;
      height: 30rem;
      transform: rotate(-5deg);
      box-shadow: 0px 40px 80px rgba(29, 43, 63, 0.1);
      border-radius: 15px;
    }
    .socmedContent {
      margin-inline: 5rem;
      width: 50%;
      p {
        width: 80%;
        line-height: 30px;
      }

      .socmedBox {
        display: flex;
        align-items: center;
        margin: 0;
        border: 1px solid transparent;
        background-color: white;
        margin-block: 1rem;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0px 15px 30px rgba(2, 40, 43, 0.1);

        #first {
          vertical-align: top !important;
        }

        .socmedText {
          width: 80%;
          margin-inline: auto;

          h5 {
            margin: 0;
            color: #00bac7;
          }
          p {
            margin-block: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
  .pratinjau {
    background-color: #edfcfd;
    padding-block: 5rem;
    text-align: center;
    h5 {
      padding: 0.5rem 1rem;
      border-radius: 100px;
      border: 1px solid transparent;
      background-color: #c6f4f8;
      color: #00bac7;
      width: fit-content;
      margin-inline: auto;
    }
    h1 {
      width: 55%;
      margin-inline: auto;
    }
    p {
      width: 35%;
      margin-inline: auto;
    }
  }
  .overviewSection {
    background-color: #edfcfd;
    padding-block: 5rem;
    .overview {
      display: flex;

      img {
        width: 50%;
      }

      .stackPage {
        img {
          position: absolute;
          width: 25%;
        }
      }
    }
    p {
      text-align: center;
      margin-block: 0;
      margin-inline: auto;
    }
  }
  .price {
    background-color: #272d3e;
    padding-block: 5rem;
    color: white;

    p {
      margin-inline: auto;
      text-align: center;
    }

    .priceText {
      text-align: center;
      margin-inline: auto;
      width: 50%;

      h5 {
        color: #00bac7;
        padding: 0.5rem 1rem;
        border: 1px solid transparent;
        background-color: rgba(198, 244, 248, 0.1);
        width: fit-content;
        margin-inline: auto;
        border-radius: 100px;
      }
    }
    .whatYouGet {
      display: flex;
      justify-content: space-evenly;
      margin-block: 2rem;

      .priceBox {
        background-color: white;
        border: 1px solid transparent;
        padding: 1rem 3rem;
        color: black;
        border-radius: 10px;

        h5 {
          margin: 0;
          color: #00bac7;
        }

        h1 {
          margin-block: 0.5rem;
        }

        ul {
          margin-block: 1rem;
          list-style: none;
          padding-inline-start: 0;
          li {
            margin-block: 0.5rem;
            display: flex;
            align-items: center;
          }
        }

        p {
          color: white;
          text-align: center;
          padding: 1rem 3rem;
          background-color: #00bac7;
          border-radius: 6px;
        }
      }
    }
  }
  .writerGreeting {
    margin-block: 5rem;
    display: flex;
    justify-content: space-evenly;

    h5 {
      color: #00bac7;
    }

    p {
      text-align: justify;
    }
    img {
      width: 40%;
    }

    .greeting {
      width: 40%;
    }
  }
  .testimony {
    background-color: #edfcfd;
    padding-block: 5rem;
    margin: 5rem;

    .testimonyIntro {
      display: flex;
      margin-inline: 10rem;

      .testi {
        h1 {
          margin: 0;
          width: 70%;
        }
      }

      p {
        width: 50%;
        text-align: justify;
      }
    }
    .testiGroup {
      display: flex;
      margin-inline: 5rem;
      margin-block: 2rem;

      .testiBox {
        border: 1px solid transparent;
        padding: 1rem 2rem;
        background-color: white;
        margin-inline: 2rem;
        border-radius: 10px;
        .commenterDetails {
          display: flex;
          align-items: center;
          .commenter {
            position: relative;
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 1rem;

            img {
              width: 100%;
              height: auto;
            }

            .commenterDetail {
              h5 {
                color: black;
              }
            }
          }
        }
      }
    }
  }
  .buyIt {
    text-align: center;
    margin-inline: auto;
    margin-block: 5rem;

    h5 {
      color: #00bac7;
      padding: 0.5rem 1rem;
      background-color: #edfcfd;
      width: fit-content;
      margin-inline: auto;
      margin-block: 0;
      border-radius: 100px;
    }

    .sale {
      display: flex;
      margin-inline: auto;
      margin-block: 2rem;
      justify-content: center;
      align-items: center;
      .saleDetail {
        h3 {
          font-size: 16px;
          margin-block: 0;
        }
        h2 {
          font-size: 24px;
          margin-block: 0;
        }
      }
      button {
        border: none;
        box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
        background-color: #00bac7;
        display: flex;
        height: fit-content;
        align-items: center;
        padding: 1rem 2rem;
        color: white;
        border-radius: 100px;
        margin-left: 3rem;
      }
    }
  }
}
